body {
  scroll-behavior: smooth;
  font-family: "PT Sans", sans-serif;
  font-size: 1.25rem;
  margin: 0;
  padding: 0;
  text-align: center;
}
body::-webkit-scrollbar {
  width: 7px;
}
body::-webkit-scrollbar-track {
  background-color: white;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: #2980b9;
}
body::-webkit-scrollbar-thumb {
  background-color: #3498db;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

h1, h2, h3, p, .topnav {
  margin: 0;
  padding: 0;
}

h1, h2, h3, .topnav {
  font-weight: 700;
  text-transform: uppercase;
}

a {
  color: white;
  text-decoration: none;
  transition: color 0.2s ease-in;
}
a:hover {
  color: #2980b9 !important;
}

.fixed {
  z-index: 1;
  position: fixed;
}

button {
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  transition: color 0.2s;
}
button:active {
  transform: translateY(1px);
  filter: saturate(150%);
}

.topnav {
  top: 0;
  width: 100%;
  padding: 12px 0;
  background-color: white;
  box-shadow: 0 6px 13px -7px rgba(0, 0, 0, 0.2);
}
.topnav a {
  color: black;
  font-size: 1.25rem;
  padding: 0 1.25vw;
  display: inline-block;
}

.banner {
  color: white;
  padding: 50px 0;
}
.banner div {
  padding: 0 10vw;
}
.banner h2 {
  margin-bottom: 1.5vh;
}
.banner a {
  font-size: 2rem;
}
.banner a:not(:last-child) {
  margin-right: 1.5vw;
}

.copyBtn:hover {
  color: #2980b9;
}

.parallax {
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  color: white;
  padding: 222px 0 222px 0;
  text-transform: uppercase;
}
.header h1 {
  font-size: 3rem;
}
.header p {
  font-size: 2rem;
}

.container {
  margin: 0 auto;
  padding: 0 10vw 6vh 10vw;
  max-width: 1280px;
}

section h2 {
  font-size: 2rem;
  margin: 6vh 0;
}
section h2::after {
  content: "";
  display: block;
  position: absolute;
  width: 30vw;
  height: 1px;
  margin-top: 1.5vh;
  left: calc(50% - 15vw);
  background-color: black;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5%;
  margin: -2.5vh;
}
.grid .col {
  margin: 2.5vh;
}

#rules .icon {
  font-size: 3.5rem;
}
#rules h3 {
  margin: 1.5vh 0;
}
#rules .col {
  width: 300px;
}

#staff .col {
  transition: transform 0.1s ease-in;
  width: 200px;
}
#staff .col:hover {
  transform: scale(1.1, 1.1);
}
#staff h3 {
  text-transform: initial;
}

#mentions a {
  color: black;
}
#mentions h2 {
  margin: 6vh 0 1.5vh 0;
}
#mentions p {
  margin-top: 6vh;
}

#error {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-45%, -50%);
}
#error + footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#topBtn {
  opacity: 0;
  bottom: 20px;
  right: 30px;
  padding: 15px 19px;
  border-radius: 5%;
  background-color: #3498db;
  transition: background-color 0.1s ease-in;
}
#topBtn:hover {
  background-color: #2980b9;
}

footer {
  padding: 25px 0;
  text-align: center;
  background-color: #192a56;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/PTSans400Ext.woff2") format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/PTSans400.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/PTSans700Ext.woff2") format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/PTSans700.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Font Awesome 6 Free";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/fa-solid-900.woff2") format("woff2");
}
@font-face {
  font-family: "Font Awesome 6 Brands";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/fa-brands-400.woff2") format("woff2");
}
.fab, .fa-brands {
  font-weight: 400;
  font-family: "Font Awesome 6 Brands", sans-serif;
}

.fa-instagram:before {
  content: "\f16d";
}

.fa-facebook:before {
  content: "\f09a";
}

.fa-discord:before {
  content: "\f392";
}

.fas, .fa-solid {
  font-family: "Font Awesome 6 Free", sans-serif;
  font-weight: 900;
}

.fa-shield-alt::before {
  content: "\f3ed";
}

.fa-map-marker::before {
  content: "\f3c5";
}

.fa-puzzle-piece::before {
  content: "\f12e";
}

.fa-server::before {
  content: "\f233";
}

.fa-bomb::before {
  content: "\f1e2";
}

.fa-comment-dots::before {
  content: "\f4ad";
}

.fa-copy::before {
  content: "\f0c5";
}

.fa-arrow-up::before {
  content: "\f062";
}/*# sourceMappingURL=style.css.map */