@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=Lato");
html {
  scroll-behavior: smooth;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 1.25rem;
  margin: 0;
  padding: 0;
  text-align: center;
}
body::-webkit-scrollbar {
  width: 7px;
}
body::-webkit-scrollbar-track {
  background-color: white;
}
body::-webkit-scrollbar-thumb:hover {
  background: #2980b9;
}
body::-webkit-scrollbar-thumb {
  background: #3498db;
  transition: all 0.2s;
}

h1, h2, h3, p, .topnav {
  margin: 0;
  padding: 0;
}

h1, h2, h3, .topnav {
  font-weight: 700;
  text-transform: uppercase;
}

a {
  color: white;
  text-decoration: none;
  transition: color 0.2s ease-in;
}
a:hover {
  color: #2980b9 !important;
}

.fixed {
  z-index: 1;
  position: fixed;
}

button {
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  transition: color 0.2s;
}
button:active {
  transform: translateY(1px);
  filter: saturate(150%);
}

#topBtn {
  opacity: 0;
  bottom: 20px;
  right: 30px;
  padding: 15px 19px;
  border-radius: 5%;
  background-color: #3498db;
  transition: all 0.1s ease-in;
}
#topBtn:hover {
  background-color: #2980b9;
}

.copyBtn:hover {
  color: #2980b9;
}

.topnav {
  top: 0;
  width: 100%;
  display: none;
  background-color: white;
  padding: 12px 0;
  box-shadow: 0 6px 13px -7px rgba(0, 0, 0, 0.2);
}
.topnav a {
  color: black;
  font-size: 1.25rem;
  padding: 0 1.25vw;
}
@media (min-width: 600px) {
  .topnav {
    display: inherit;
  }
}

.banner {
  color: white;
  padding: 50px 0;
}
.banner div {
  padding: 0 10vw;
}
.banner h2 {
  margin-bottom: 1.5vh;
}
.banner a {
  font-size: 2rem;
}
.banner a:not(:last-child) {
  margin-right: 1.5vw;
}

.parallax {
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  color: white;
  padding: 222px 0 222px 0;
  text-transform: uppercase;
  background-image: url("/static/img/bg1.png");
}
.header h1 {
  font-size: 3rem;
}
.header p {
  font-size: 2rem;
}

.container {
  margin: 0 auto;
  padding: 0 10vw 6vh 10vw;
  max-width: 1280px;
}

section h2 {
  font-size: 2rem;
  margin: 6vh 0;
}
section h2::after {
  content: "";
  display: block;
  position: absolute;
  width: 30vw;
  height: 1px;
  margin-top: 1.5vh;
  left: calc(50% - 15vw);
  background-color: black;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5%;
  margin: -2.5vh;
}
.grid .col {
  margin: 2.5vh;
}

#rules .icon {
  font-size: 3.5rem;
}
#rules h3 {
  margin: 1.5vh 0;
}
#rules .col {
  width: 300px;
}

#staff .col {
  transition: all 0.1s ease-in;
  width: 200px;
}
#staff .col:hover {
  transform: scale(1.1, 1.1);
}
#staff h3 {
  text-transform: initial;
}

footer {
  padding: 25px 0;
  text-align: center;
  background-color: #192a56;
}

.mentions a {
  color: black;
}
.mentions h2 {
  margin: 6vh 0 1.5vh 0;
}
.mentions p {
  margin-top: 6vh;
}

/*# sourceMappingURL=style.css.map */
