@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");

:root {
    --big-space: 8vh;
    --medium-space: 6vh;
    --small-space: 1vh;
    --grid-space: 2.5vh;
    --container-space: 10vw;
}

html {
    scroll-behavior: smooth;
    font-family: "PT Sans", sans-serif;
}

body {
    font-size: 1.25rem;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

h2,
h3 {
    font-weight: 700;
}

a {
    color: white;
    text-decoration: none;
    transition: color 0.2s ease-in;

    &:hover {
        color: #2980b9 !important;
    }
}

.fixed {
    z-index: 1;
    position: fixed;
}

button {
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    transition: color 0.2s;

    &:active {
        transform: translateY(1px);
        filter: saturate(150%);
    }
}

.copyBtn:hover {
    color: #2980b9;
}

#topBtn {
    opacity: 0;
    bottom: 20px;
    right: 30px;
    padding: 15px 19px;
    border-radius: 50%;
    background-color: #3498db;
    transition: background-color 0.2s ease-in;

    &:hover {
        background-color: #2980b9;
    }
}

.banner {
    color: white;

    & > div {
        padding: 50px var(--container-space);
    }

    & h2 {
        margin-bottom: var(--small-space);
    }

    & a {
        font-size: 2rem;

        &:not(:last-child) {
            margin-right: 1.5vw;
        }
    }
}

.parallax {
    height: 100%;
    position: relative;
    overflow: hidden;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    & > div {
        backdrop-filter: blur(3px);
    }
}

.header {
    color: white;

    & > div {
        padding: 222px 0 222px 0;
    }

    & h1 {
        font-size: 3rem;
    }

    & p {
        font-size: 2rem;
    }
}

.container {
    margin: 0 auto;
    padding: 0 var(--container-space) var(--big-space) var(--container-space);
    max-width: min(1150px, 80vw);
}

section h2 {
    font-size: 2rem;
    text-transform: uppercase;
    margin: var(--big-space) 0 var(--medium-space) 0;

    &::after {
        content: "";
        display: block;
        position: absolute;
        width: 100px;
        height: 1px;
        margin-top: var(--small-space);
        left: calc(50% - 50px);
        background-color: black;
    }
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
    margin: calc(-1 * var(--grid-space));

    & .col {
        margin: var(--grid-space);
    }
}

#rules {
    & .icon {
        font-size: 3.5rem;
    }

    & h3 {
        margin: var(--small-space) 0;
        text-transform: uppercase;
    }

    & .col {
        width: 300px;
    }
}

#description p {
    text-align: justify;
}

#staff {
    & .col {
        transition: transform 0.1s ease-in;
        width: 200px;

        &:hover {
            transform: scale(1.1, 1.1);
        }
    }

    & h3 {
        text-transform: initial;
    }
}

#mentions {
    & a {
        color: black;
    }

    & h2 {
        margin: var(--big-space) 0 var(--small-space) 0;
    }

    & p {
        margin-top: var(--big-space);
    }
}

footer {
    padding: 25px 0;
    text-align: center;
    background-color: #192a56;
}
